* {
    margin: 0;
    padding: 0;
}

body {
    /*margin: 0 20px;*/
    max-width: 1200px;
    background-color: antiquewhite;
}

h1, h2 {
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

p {
    padding: 10px 10px 10px 0;
    margin-left: 20px;
}

label {
    margin-left: 20px;
}

footer {
    text-align: center;
    background-color: indianred;
    color: white;
}